body{
     margin: 5%;
     font-size: 16px;
     color: #525252;
     line-height: 2;
     padding:10px;
     padding-bottom:60px;
}


.wp{
     background-image: url(../images/bg.png);
     background-size: cover;
}
 a{
     color: #000080;
     font-family: 'Muli';
}
 .current{
     color:#5C009E;
     font-style: italic;
     font-size: 130%;
     border:3px;
     border-color:black;
}
 a:link{
     text-decoration: none;
     color: #000080;
     font-family: 'Muli';
}
 a:hover{
     text-decoration: underline;
}
 a:active {
     text-decoration: bold;
}
 .skip {
     position: absolute;
     top: -1000px;
     left: -1000px;
     height: 1px;
     width: 1px;
     text-align: left;
     overflow: hidden;
}
 a.skip:active, a.skip:focus, a.skip:hover {
     left: 0;
     top: 0;
     width: auto;
     height: auto;
     overflow: visible;
}
 nav ul li {
     font-size: 120%;
     font-family: 'Muli';
     display: block;
     width: 50vh;
     justify-content: space-around;
     text-align: center;
}

@media screen and (min-width:700px){
  nav ul li{
    display:inline-block;
    width: 100%;
  }
}

@media screen and (min-width:1200px){
  nav ul li{
    display:inline-block;
    width: 15%;
  }
}
#desc{
  font-size: 100%;
  font-family: "Muli";
  font-weight: lighter;
  text-align: center;
  padding: 5%
}
 h1{
     font-size: 200%;
     font-family: 'Muli';
     font-weight: bold;
}
 h2{
     font-size: 170%;
     font-family: 'Muli';
     font-weight: lighter;
}
 h3{
     font-size: 150%;
     font-family: 'Muli', bold;
     margin-bottom: 5px;
     margin-top: 30px;
}
 h4{
     font-size: 120%;
     font-family: 'Muli', bold;
     margin-top: 30px;
}
 p{
     font-family: "Open Sans";
     /* margin-top: 10px; */
     margin-bottom: 10px;
}
 ul{
     font-family: "Open Sans";
     margin-left: 50px;
}
 ol{
     font-family: "Open Sans";
     margin-left: 50px;
}

 img {
     width: 100%;
     height: 100%;
}
 .container{
   height: auto;
   grid-template-columns: repeat(autofill, minmax(200px, 1fr));
   grid-gap: 30px;
}


@media (min-width: 960px) {
  .container {
     column-count: 2;
     grid-gap: 30px;
}



 .personas{
     display:grid;
     grid-template-columns: 500px 500px;
     justify-content: space-around;
}
 .video{
     display:grid;
     grid-template-columns: 400px 600px;
     grid-column-gap: 50px;
     justify-content: space-around;
     align-items: center;
}
 .button{
     font-weight: bold;
     text-align: center;
     font-family: "Muli";
     color: black;
     padding: 5%
}
 .starbucks{
     display:grid;
     grid-template-columns: 200px 700px;
     justify-content: space-around;
}
 .sketches{
     display: grid;
     grid-template-columns: 400px 400px;
     grid-row-gap: 50px;
     justify-content: space-around;
}
 .center{
     text-align: center;
     margin: auto;
     padding: 10px;
     font-size: 200%;
}

 .box{
   box-sizing: border-box;
   border: 1px solid #6F3691;
   margin-top: 20px;
 }

 main{
     margin:auto;
     padding-bottom: 50px;
     min-height:100%;
     position: relative;
}

 video{
   padding: 3%;
 }
